/* 

Real Steel - CSS File

USE THIS STYLE SHEET FOR INNER PAGE

*/



/* Page Navi*/
.pagenavi {padding:7px 20px; font-size:11px; margin-bottom:20px; border:1px solid #e0e0e0;
	background:#f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f2f2f2));
	background: -moz-linear-gradient(top,  #fefefe,  #f2f2f2);
	background: -o-linear-gradient(top,  #fefefe,  #f2f2f2);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f2f2f2');
}
.pages-left{ float:left}
.pages-right{ float:right; color:#e0e0e0;}
.pagenavi a, .pagenavi a:visited{
	padding:1px 7px;
	margin-right:0px;
	color:#7a7d80;
}

.pagenavi a:hover{
	padding:1px 7px;
	margin-right:0px;
	text-decoration:none;
	color:#b30004;
}

.pagenavi .current{
	padding:1px 7px;
	margin-right:0px;
	text-decoration:none;
	cursor:pointer;
	color:#b30004;
}

.pagenavi .pages{

	padding:1px 7px;
	margin-right:0px;

}


/* SERVICE */
.services .three.columns { text-align:center!important;}


/* PORTFOLIO */
/*======= Portfolio 3 Column =======*/
#ts-display-pf-col-3{list-style-type:none; padding:0; margin:0;}
#ts-display-pf-col-3 li{list-style-type:none; padding:0; margin:0 20px 50px 0; width:300px;  float:left}
#ts-display-pf-col-3 li.nomargin{margin-right:0;}
#ts-display-pf-col-3 h2, #ts-display-pf-col-3 h2 a{margin-bottom:3px; font-size:18px; color:#2a2e31;}


#ts-display-pf-col-3 .ts-display-pf-img a.image{
	width:300px;
	height:130px;
	display:block;
	position:relative;
	float:left;
}

#ts-display-pf-col-3 .ts-display-pf-img a .rollover{
	background:url(../images/hover-opacity.png);
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
	width:300px;
	height:130px;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;

}

#ts-display-pf-col-3 .ts-display-pf-text{
	padding-top:13px;
	clear:left;
}
#ts-display-pf-col-3 .ts-display-pf-text p{ margin-bottom:0px;}


/* BLOG */
.post{margin-bottom:40px; padding-bottom:40px; clear:both; position:relative; border-bottom:1px solid #d2d7db;}
.noborder{ border:0px; padding-bottom:0px;}
.post .date{ color:#bdbdbd; font-size:10px; margin-bottom:10px;}
.posttitle, .posttitle a{margin-bottom:10px; color:#2a2e31;}
.posttitle a:hover{text-decoration:none; }

.post .three.columns{ position:relative;}

.postcomment{background:url(../images/icons/i-comment.html) no-repeat; position:absolute; top:5px; right:-5px; width:27px; height:25px; text-align:center;}

.single .post{ border:0px;}


.entry-content img{ margin-bottom:15px;}

.entry-utility{ margin-bottom:25px;}
.entry-utility a:hover{ text-decoration:underline;}

#comment .pagenavi{
	padding:0 0 40px 0;
}
.commentlist{
	list-style-type:none;
	padding:20px 0;
	margin:0;
}
.commentlist ol{
	list-style-type:none;
	padding:30px 0 0 90px;
	margin:0;
}

.commentlist li{
	position:relative;
	padding:0 0 30px 0;
}
.commentlist li li{
	position:relative;
	padding:0;
}

.avatar{
	position:absolute;
	top:0;
	left:0;
}
.comment-body span.tuser{font-size:14px; font-style:normal; color:#7a7d80;}
.comment-body{margin:0 0 0 90px; padding:0;}
.comment-body span{ font-style:italic; color:#bdbdbd; font-size:10px;}
#commentform label{display:block}
#commentform .text-input{
	margin-bottom:8px;
	padding:8px 5px;
	vertical-align:middle;
	width:50%;
}
#commentform .textarea{
	margin-bottom:10px;
	padding:8px 5px;
	vertical-align:top;
	width:80%;
}

/* PRICING BOX */
ul.list-box{margin:0; padding:0; list-style-type:none; list-style-position:outside;}
ul.list-box li{ margin-top:15px;}
ul.list-box > li{
	background-color:#f8f8f8;
	border:solid 1px #fff;
	border-width:0 1px 0 0;
	float:left;
	width:233px;
	text-align:center;
	padding:0;
	margin:0;
	position:relative;
	z-index:2
 }
ul.list-box li.noborder{border:0;}
ul.list-box li.current{border:0; z-index:4}
ul.list-box .title-box{margin-bottom:0; padding:8px 0 8px 0; font-size:17px;  color:#fdfdfd; background:#303437 url(../images/title-box.gif) repeat-x}
ul.list-box li.current .title-box{background-color:#102c32;}
ul.list-box li.last{margin-right:0;}
ul.list-box .currency{font-size:22px; margin-top:12px; display:inline-block; vertical-align:top;}
ul.list-box .price-text{
	margin:0; color:#2a2e31; padding:13px 0; vertical-align:top;
	background:#cdcfd0 url(../images/price-box.html) repeat-x;
}
ul.list-box .price{font-size:52px; font-weight:bold; line-height:54px; padding:0; margin:0}
ul.list-box .price span{ font-size:18px; font-weight:normal; margin:0 0 0 -8px; padding:0}
ul.list-box li.current{
	margin-top:-10px;
	-moz-box-shadow: 0px 0px 18px #000;
	-webkit-box-shadow: 0px 0px 18px #000;
	box-shadow: 0px 0px 18px #000;
	padding-bottom:20px
}

.list-box-container{
	padding:0 0 29px 0;
	margin-top:0;
}
.list-box-container .button{ margin-left:0px; font-size:12px; padding:5px 20px 8px 20px; line-height:20px}
.list-box-content{ margin:0px 0px; padding:8px 0 0 0 }
.list-box-content ul{margin:0px auto;  padding:0; list-style-type:none;}
.list-box-content ul li{margin:0; padding:10px 10px 10px 60px; list-style-type:none; text-align:left; background-image:url(../images/arrow-sidebar.png); background-repeat:no-repeat; background-position:30px 10px; border-bottom:1px solid #dedede; border-top:1px solid #ffffff}
.list-box-content ul li:last-child{border:0;}
.list-box-content ul li:first-child{border-top:0px;}

/* Pricing Table */
.table-box-container{ width:940px;}
.table-box-container ul{ margin:0px; padding:0;float:left; }
.table-box-container ul li{ float:left; list-style-type:none; padding:0; margin:0; color:#707070 !important; width:230px;  border-left:1px solid #fff;  }
.table-box-container ul li h4{ margin:0px; font-size:13px;}
.table-box-container ul li.one{ padding-left:20px; width:225px}
.table-box-container ul li.two{text-align:center}
.table-box-container ul li.three{text-align:center;}
.table-box-container ul li.four{text-align:center;}
ul.table_header li.one{width:245px; padding-left:0}

.table-box-container .arr{
	background-image:url(../images/arrow-sidebar.png); background-repeat:no-repeat; background-position:0px 0px; display:block; line-height:20px; padding:0 0 0 30px;
}

ul.tbl-odd{ background-color:#f8f8f8; float:left; border-bottom:solid 1px #dedede; border-top:1px solid #fff; }
ul.tbl-odd li{width:230px; padding:12px 0; border-left:1px solid #dedede;  min-height:20px}
ul.tbl-even{ background-color:#f8f8f8; float:left; border-bottom:solid 1px #dedede; border-top:1px solid #fff;  }
ul.tbl-even li{width:230px; padding:12px 0; border-left:1px solid #dedede; min-height:20px }
ul.tbl-even.noborder{ border-bottom:0px;}
ul.tbl-price{ border:0px; font-size:18px;}
ul.tbl-price a, ul.tbl-price a:visited{ color:#707070; text-decoration:underline; font-size:12px;}
ul.tbl-price a:hover{ text-decoration:none;}

ul.tbl-odd li.one, ul.tbl-even li.one{border-left:solid 1px #fff} 

.table-box-container .title-box{margin-bottom:0; padding:8px 0 8px 0px; font-size:17px; color:#fdfdfd; background:#303437 url(../images/title-box.gif) repeat-x}
.table-box-container li.one .title-box{padding:8px 0 8px 20px;}
.table-box-container .currency{font-size:22px; margin-top:12px; display:inline-block; vertical-align:top;}
.table-box-container .price-text{
	margin:0; color:#2a2e31; padding:13px 0; vertical-align:top;
	background:#cdcfd0 url(../images/price-box.html) repeat-x;
	 height:60px
}
.table-box-container .price{font-size:52px; font-weight:bold; line-height:54px; padding:0; margin:0;}
.table-box-container .price span{ font-size:18px; font-weight:normal; margin:0 0 0 -8px; padding:0}
.table-box-container .button{ margin-left:0px; font-size:12px; padding:5px 20px 8px 20px; line-height:20px}



/* CONTACT */
form{margin:0; padding:0;}
fieldset{border:0px;}
#contactform{margin:0 auto; position:relative; }
#contactform label{display:inline-block; float:left; width:25%;}
label.sp { width:3px;}
span.error{color:red; text-align:left; font-size:11px; margin-left:95px;}
#contactform textarea, #contactform input{ float:left;}
#contactform input.text-input{
	margin-bottom:8px;
	vertical-align:middle;
	width:60%;
}
#contactform textarea{ width:60%;} 
#message{ margin-left:0px;}
#message h2	{}
#message p{margin:6px 0px; }

#contactform .button{
	cursor:pointer;
	margin:15px 0px 0px 75px;
	padding:3px 25px;
	background:url(../images/arrow-red.png) no-repeat; color:#b30004;
	clear:both;
 }

