html			{ background: url('../images/gradient1.gif') top center repeat-x #333333; }
body			{ background: url('../images/bubles_white.png') top center no-repeat; min-width: 1000px; min-height: 800px; text-align: center; margin: 0px; font-family: arial; font-size: 12px;}
div.back		{ background: url('../images/shadow.png') top center no-repeat; width: 100%; height: 100%;}
div.base		{ width: 992px; margin: 0px auto; text-align: left; }
label.error		{ clear: both; color: #ff0000; margin: 0px 0px 0px 154px; width: 250px !important; }

.clear:after 		{ content: "."; display: block; height: 0; overflow:hidden; clear: both; visibility: hidden; }
.clean-margin		{ margin: 0px !important; }
.clean-padding		{ padding: 0px !important; }

.fl			{ float: left; }
.fr			{ float: right; }


/*********************************************************/
/*** CONTENT COLORS - main colors of template elements ***/
/*********************************************************/

body.light		{ color: #666666; }
body.dark		{ color: #A0A0A0; }
.white			{ color: #666666; }
.black			{ color: #A0A0A0; }

/* --- global links colors ----------------------------------------------------------------------- */

.light a		{ color: #333333; text-decoration: underline;}
.light a:hover		{ color: #333333; text-decoration: none;}
.dark a			{ color: #FFFFFF; text-decoration: underline;}
.dark a:hover		{ color: #FFFFFF; text-decoration: none;}
.white a		{ color: #333333; text-decoration: underline;}
.white a:hover		{ color: #333333; text-decoration: none;}
.black a		{ color: #FFFFFF; text-decoration: underline;}
.black a:hover		{ color: #FFFFFF; text-decoration: none;}

/* --- links colors in #main ----------------------------------------------------------------------- */

.light #main a		{ color: #3789C0; text-decoration: underline;}
.light #main a:hover	{ color: #3789C0; text-decoration: none;}
.dark #main a		{ color: #FFFFFF; text-decoration: underline;}
.dark #main a:hover	{ color: #FFFFFF; text-decoration: none;}

/* --- strong links (like "read more" etc.) ----------------------------------------------------------------------- */

.light a.bold		{ color: #333333 !important; font-weight: bold !important; text-decoration: none !important;}
.light a.bold:hover	{ color: #333333 !important; font-weight: bold !important; text-decoration: underline !important;}
.dark a.bold		{ color: #FFFFFF !important; font-weight: bold !important; text-decoration: none !important;}
.dark a.bold:hover	{ color: #FFFFFF !important; font-weight: bold !important; text-decoration: underline !important;}
.white a.bold		{ color: #333333 !important; font-weight: bold !important; text-decoration: none !important;}
.white a.bold:hover	{ color: #333333 !important; font-weight: bold !important; text-decoration: underline !important;}
.black a.bold		{ color: #FFFFFF !important; font-weight: bold !important; text-decoration: none !important;}
.black a.bold:hover	{ color: #FFFFFF !important; font-weight: bold !important; text-decoration: underline !important;}

/* --- H tags colors & links ----------------------------------------------------------------------- */

.light h1, 		.light h2, 		.light h3,		.light h4, 		.light h5, 		.light h6		{ color: #76828A !important; }
.light h1 a, 		.light h2 a, 		.light h3 a,		.light h4 a, 		.light h5 a, 		.light h6 a		{ color: #76828A !important; text-decoration: none !important; }
.light h1 a:hover, 	.light h2 a:hover, 	.light h3 a:hover,	.light h4 a:hover, 	.light h5 a:hover, 	.light h6 a:hover	{ color: #5A646A !important; text-decoration: none !important; }

.dark h1,		.dark h2, 		.dark h3,		.dark h4, 		.dark h5, 		.dark h6		{ color: #B9D2DD !important; }
.dark h1 a, 		.dark h2 a, 		.dark h3 a,		.dark h4 a, 		.dark h5 a, 		.dark h6 a		{ color: #B9D2DD !important; text-decoration: none !important; }
.dark h1 a:hover, 	.dark h2 a:hover, 	.dark h3 a:hover, 	.dark h4 a:hover, 	.dark h5 a:hover, 	.dark h6 a:hover	{ color: #D4E9F2 !important; text-decoration: none !important; }

.white h1,		.white h2,		.white h3,		.white h4, 		.white h5, 		.white h6		{ color: #76828A !important; }
.white h1 a, 		.white h2 a, 		.white h3 a, 		.white h4 a, 		.white h5 a, 		.white h6 a		{ color: #76828A !important; text-decoration: none !important; }
.white h1 a:hover, 	.white h2 a:hover, 	.white h3 a:hover, 	.white h4 a:hover, 	.white h5 a:hover, 	.white h6 a:hover	{ color: #5A646A !important; text-decoration: none !important; }

.black h1, 		.black h2, 		.black h3, 		.black h4, 		.black h5, 		.black h6		{ color: #B9D2DD !important; }
.black h1 a, 		.black h2 a,		.black h3 a,		.black h4 a,		.black h5 a,		.black h6 a		{ color: #B9D2DD !important; text-decoration: none !important; }
.black h1 a:hover, 	.black h2 a:hover, 	.black h3 a:hover, 	.black h4 a:hover, 	.black h5 a:hover, 	.black h6 a:hover	{ color: #D4E9F2 !important; text-decoration: none !important; }

/* --- subtext in h2 homepage boxes ----------------------------------------------------------------------- */

.light h2 span		{ color: #333333; }
.dark h2 span		{ color: #FFFFFF; }
.white h2 span		{ color: #333333; }
.black h2 span		{ color: #FFFFFF; }

/* --- colors of STRONG tag ----------------------------------------------------------------------- */

.light strong		{ color: #333333; }
.dark strong		{ color: #FFFFFF; }
.white strong		{ color: #333333; }
.black strong		{ color: #FFFFFF; }

/* --- table colors in #main ----------------------------------------------------------------------- */

.light #main table	{ background: url('../images/light_boldline.png') top left repeat-x; }
.light #main th		{ background: url('../images/light_line.png') bottom left repeat-x; color: #333333;}
.light #main td		{ background: url('../images/light_line.png') bottom left repeat-x; }
.dark #main table	{ background: url('../images/dark_boldline.png') top left repeat-x; }
.dark #main th		{ background: url('../images/dark_line.png') bottom left repeat-x;  color: #FFFFFF;}
.dark #main td		{ background: url('../images/dark_line.png') bottom left repeat-x; }

/* --- global POST links colors ----------------------------------------------------------------------- */

.light .post_links a		{ color: #76828A; }
.light .post_links a:hover	{ color: #5A646A; }
.dark .post_links a		{ color: #B9D2DD; }
.dark .post_links a:hover	{ color: #D4E9F2; }
.white .post_links a		{ color: #76828A; }
.white .post_links a:hover	{ color: #5A646A; }
.black .post_links a		{ color: #B9D2DD; }
.black .post_links a:hover	{ color: #D4E9F2; }

/* --- CONTENT LINKS colors ----------------------------------------------------------------------- */

.black #content_links a			{ color: #FFFFFF; }
.black #content_links a:hover		{ color: #FFFFFF; }
.white #content_links a			{ color: #333333; }
.white #content_links a:hover		{ color: #333333; }
.black #content_links li a		{ color: #A0A0A0; }
.black #content_links li a:hover	{ color: #FFFFFF; }
.white #content_links li a		{ color: #666666; }
.white #content_links li a:hover	{ color: #333333; }


/********************************/
/* ---------- HEADER ---------- */
/********************************/

#header				{ height: 100px; width: 100%; position: relative; z-index: 1000;}
#header #logo 			{ color: #ffffff; position: absolute; left: 11px; top: 19px; }
#header #logo .picture		{ float: left; }
#header #logo .text		{ float: left; }
#header #logo a			{ color: #ffffff; text-decoration: none; }
#header #logo img		{ margin: 0px 10px 0px 0px; }
#header #logo span		{ display: block; }
#header #logo .title		{ font-size: 24px; font-weight: bold; padding: 8px 0px 0px 0px; }
#header #logo .subtitle		{ color: #B9D2DD; font-size: 12px; font-weight: bold; position: relative; top: -2px; left: 1px;}

/*** MAIN MENU ------------------------------------------------------------------ ***/

#header #main_menu 				{ position: absolute; right: 18px; top: 31px; z-index: 1; }
#header #main_menu a 				{ color: #B9D2DD; display: block; font-size: 11px; line-height: 30px; font-weight: bold; margin: 0px; padding: 0px 15px 0px 15px; text-decoration: none; text-transform: uppercase; }
#header #main_menu a:hover 			{ color: #FFFFFF; }
#header #main_menu li 				{ display: block; float: left; white-space: nowrap; position: relative; }
#header #main_menu ul				{ z-index: 99999;}
#header #main_menu li ul			{ display: none; background: url('../images/bck_light.png'); border: 0px solid #959595; padding: 2px 2px 2px 2px; position: absolute; left: 7px; width: 170px; }
#header #main_menu li:hover ul				{ display: block; } 
#header #main_menu li:hover ul li ul		{ display: none; }
#header #main_menu li:hover ul li:hover ul	{ display: block; }
#header #main_menu li:hover a				{ color: #D4E9F2; }
#header #main_menu li:hover li a			{ color: #FFFFFF; }
#header #main_menu li:hover li:hover a		{ background: #333333; }
#header #main_menu li:hover li:hover li a 	{ background: none; }
#header #main_menu li:hover li:hover li:hover a	{ background: #333333; }
#header #main_menu ul ul a						{ display: block; float: none; font-weight: normal; line-height: 14px; padding: 6px 10px 6px 10px; text-transform: none; }
#header #main_menu ul ul a.parent				{ color: #FFFFFF; background: #333333; }
#header #main_menu ul ul a:hover		{ color: #FFFFFF; background: #333333;}
#header #main_menu ul ul li			{ width: 100%; display: block; float: left; position: relative; background: url('../images/bck_dark.png'); }
#header #main_menu ul ul ul			{ position: absolute; left: 170px; top: -2px; }
#header #main_menu .current_page_item a		{ color: #FFFFFF !important; }
#header #main_menu .current_page_item li a 	{ color: #FFFFFF !important; }

/*** SUBMENU ------------------------------------------------------------------ ***/

.submenu				{ padding: 6px 0px 15px 0px !important; }
.submenu ul				{ padding-top: 2px; padding-bottom: 0px; }
.submenu ul li				{ line-height: 16px; padding-top: 5px; padding-bottom: 7px; width: 100%; }
.submenu ul li.current_page_item	{ font-weight: bold; }
.submenu ul li.current_page_item li	{ font-weight: normal; }
.submenu ul a				{ display: block; text-decoration: none; padding-left: 10px; width: 230px;}
.submenu ul ul				{ padding-top: 4px; padding-left: 10px; padding-bottom: 2px; background: none !important; }
.submenu ul ul li			{ line-height: 16px; padding-top: 2px; padding-bottom: 2px; background: none !important; }

.light .submenu ul		{ background: url('../images/light_sideline.png') top left repeat-x; }
.light .submenu ul li		{ background: url('../images/light_sideline.png') bottom left repeat-x; }
.light .submenu ul a		{ background: url('../images/arrow_darkblue.gif') 0px 6px no-repeat; }
.light .submenu ul ul a		{ background: url('../images/arrow_darkblue.gif') 0px 6px no-repeat;}
.light .submenu ul a:hover	{ color: #76828A; }

.dark .submenu ul		{ background: url('../images/dark_sideline.png') top left repeat-x; }
.dark .submenu ul li		{ background: url('../images/dark_sideline.png') bottom left repeat-x; }
.dark .submenu ul a		{ background: url('../images/arrow_grey.gif') 0px 6px no-repeat; }
.dark .submenu ul ul a		{ background: url('../images/arrow_grey.gif') 0px 6px no-repeat;}
.dark .submenu ul a:hover	{ color: #B9D2DD; }

.white .submenu ul		{ background: url('../images/light_sideline.png') top left repeat-x; }
.white .submenu ul li		{ background: url('../images/light_sideline.png') bottom left repeat-x; }
.white .submenu ul a		{ background: url('../images/arrow_darkblue.gif') 0px 6px no-repeat; }
.white .submenu ul ul a		{ background: url('../images/arrow_darkblue.gif') 0px 6px no-repeat;}
.white .submenu ul a:hover	{ color: #76828A; }

.black .submenu ul		{ background: url('../images/dark_sideline.png') top left repeat-x; }
.black .submenu ul li		{ background: url('../images/dark_sideline.png') bottom left repeat-x; }
.black .submenu ul a		{ background: url('../images/arrow_grey.gif') 0px 6px no-repeat; }
.black .submenu ul ul a		{ background: url('../images/arrow_grey.gif') 0px 6px no-repeat;}
.black .submenu ul a:hover	{ color: #B9D2DD; }

/************************************************/
/* ---------- PAGE LAYOUT & ELEMENTS ---------- */
/************************************************/

.page_top		{ width: 100%; overflow: hidden; padding-top: 34px;}
.page_down		{ width: 100%; height: 56px; }
.page			{ padding-left: 36px; padding-right: 36px;}
.page_inside		{ width: 100%; }
.subpage		{ width: 100%; padding-bottom: 40px; }
#main			{ width: 620px; float: left; }
#main.fullwidth		{ width: 100%; }

.breadcrumb		{ }
#breadcrumb		{ font-size: 11px; line-height: 14px; padding: 0px 36px 0px 36px; }
#breadcrumb ul		{ height: 14px; }
#breadcrumb li		{ float: left; }
#breadcrumb a		{ text-decoration: none; }
#breadcrumb a:hover	{ text-decoration: underline; }
#breadcrumb .sep 	{ padding: 0px 4px 0px 4px; }
.light #breadcrumb .sep	{ color: #A0A0A0; }
.dark #breadcrumb .sep	{ color: #666666; }

.light .page_top	{ background: url('../images/light_page_top.png') top center no-repeat; }
.light .page_down	{ background: url('../images/light_page_down.png') bottom center no-repeat; }
.light .page		{ background: url('../images/light_page.png') top center repeat-y; }

.dark .page_top		{ background: url('../images/dark_page_top.png') top center no-repeat; }
.dark .page_down	{ background: url('../images/dark_page_down.png') bottom center no-repeat; }
.dark .page		{ background: url('../images/dark_page.png') top center repeat-y; }

small			{ display: block; font-size: 11px; line-height: 14px; }
.bold			{ font-weight: bold; }
.page h1, .page_top h1	{ font-size: 20px; font-weight: normal; padding-top: 10px; padding-bottom: 0px;}
.page h2, .page_top h2	{ font-size: 18px; font-weight: normal; padding-top: 10px; padding-bottom: 0px;}
.page h3, .page_top h3	{ font-size: 16px; font-weight: normal; padding-top: 10px; padding-bottom: 0px;}
.page h4, .page_top h4	{ font-size: 14px; font-weight: bold; padding-top: 10px; padding-bottom: 0px;}
.page h5, .page_top h5	{ font-size: 12px; font-weight: bold; padding-top: 10px; padding-bottom: 0px;}
.page h6, .page_top h6	{ font-size: 12px; font-weight: normal; padding-top: 10px; padding-bottom: 0px;}
.page p			{ }
.page .aligncenter,
.page_top .aligncenter	{ text-align: center; }

#main h1		{ padding-bottom: 25px; }
#main h2		{ padding-bottom: 15px; }
#main h3		{ padding-bottom: 10px; }
#main h4		{ padding-bottom: 10px; }
#main h5		{ padding-bottom: 5px; }
#main h6		{ padding-bottom: 5px; }
#main p			{ text-align: justify; padding-bottom: 20px; line-height: 18px; }
#main p.downline	{ padding-bottom: 5px; margin-bottom: 10px; }
.light #main p.downline	{ background: url('../images/light_line.png') bottom left repeat-x; }
.dark #main p.downline	{ background: url('../images/dark_line.png') bottom left repeat-x; }
#main table		{ width: 100%; margin-bottom: 20px; }
#main th		{ padding: 7px 10px 5px 0px; vertical-align: top; text-align: left; font-weight: bold; }
#main td		{ padding: 4px 10px 5px 0px; /* vertical-align: top;*/ text-align: left; }
#main th.aligncenter	{ text-align: center; padding-left: 10px; }
#main td.aligncenter	{ text-align: center; padding-left: 10px; }
#main th.valigncenter	{ vertical-align: middle; }
#main td.valigncenter	{ vertical-align: middle; }
#main ul		{ padding-left: 16px; padding-bottom: 20px; }
#main ul li		{ line-height: 18px; list-style-type: square; padding-bottom: 5px; }
#main ol		{ padding-left: 22px; padding-bottom: 20px; }
#main ol li		{ line-height: 18px; list-style-type: lower-alpha; padding-bottom: 5px; }

#main .aligncenter	{ margin: 0px auto; text-align: center; }
#main .alignleft	{ float: left; margin-right: 20px; }
#main .alignright	{ float: right; margin-left: 20px; }
#main img		{ display: block; padding: 3px 3px 4px 3px; background: url('../images/light_picture.png') bottom left repeat-x;}
#main img.alignleft	{ margin-bottom: 10px; }
#main img.alignright	{ margin-bottom: 10px; }

.light #main .rule	{ width: 100%; height: 2px; background: url('../images/light_line.png') top left repeat-x; padding-bottom: 20px; }
.dark #main .rule	{ width: 100%; height: 2px; background: url('../images/dark_line.png') top left repeat-x; padding-bottom: 20px; }
.boxes .white .rule	{ width: 100%; height: 2px; background: url('../images/light_line.png') top left repeat-x; }
.boxes .black .rule	{ width: 100%; height: 2px; background: url('../images/dark_line.png') top left repeat-x; }

.iconbar		{ min-height: 60px; margin: 0px -20px 0px -20px; text-align: center;}
.iconbar .icon_wrap	{ width: 100%; background: url(../images/icon_bar.png) top left repeat-x; }
.iconbar ul		{ width: 100%; }
.iconbar li		{ display: inline; }
.iconbar .icon48	{ margin: 10px 5px 0px 5px;}



/*** BOXES LAYOUT *********************************************************************************/

.box_full			{ width: 940px; padding-left: 26px; padding-right: 26px;}
.box_full .top			{ width: 100%; height: 9px; }
.box_full .down			{ width: 100%; height: 9px; }
.box_full .middle		{ width: 100%; }
.white.box_full .top		{ background: url('../images/white_box-full_top.png') top center no-repeat;}
.white.box_full .down		{ background: url('../images/white_box-full_down.png') bottom center no-repeat;}
.white.box_full .middle		{ background: url('../images/white_box-full_middle.png') top center repeat-y;}
.black.box_full .top		{ background: url('../images/black_box-full_top.png') top center no-repeat;}
.black.box_full .down		{ background: url('../images/black_box-full_down.png') bottom center no-repeat;}
.black.box_full .middle		{ background: url('../images/black_box-full_middle.png') top center repeat-y;}

.boxes				{ margin-left: -20px; margin-right: -20px; }
.page_top .boxes		{ margin-left: 16px; margin-right: 16px; padding-bottom: 9px; }
.boxes .container		{ width: 100%; padding-top: 9px; padding-bottom: 9px; position: relative; }
.boxes .container .inner	{ float: left; overflow: hidden; }
.boxes .icon			{ width: 100%; }
.boxes .icon img		{ display: block; width: 64px; height: 64px; float: left; position: relative; left: -6px; top: 0px; margin-right: 4px; }
.boxes .icon h2			{ padding-top: 16px; padding-bottom: 8px;}
.boxes .icon h2 a		{ display: block; text-decoration: none; cursor: pointer; }
.boxes .icon h2 span		{ font-size: 12px; display: block; font-weight: bold; padding-top: 2px;}
.boxes p			{ line-height: 18px; padding-top: 9px; padding-bottom: 9px;}
#main .boxes p			{ padding-bottom: 9px; }

/* --- LINES between boxes ----------------------------------------------------------- */

.light .lines_x1x .inner	{ background: url('../images/light_ln-x0x1x0x.png') top left repeat-y; }
.light .lines_x1x1x .inner	{ background: url('../images/light_ln-x1x1x.png') top left repeat-y; }
.light .lines_x1x0x .inner	{ background: url('../images/light_ln-x1x0x.png') top left repeat-y; }
.light .lines_x0x1x .inner	{ background: url('../images/light_ln-x0x1x.png') top left repeat-y; }
.light .lines_x1x1x1x .inner	{ background: url('../images/light_ln-x1x1x1x.png') top left repeat-y; }
.light .lines_x0x1x1x .inner	{ background: url('../images/light_ln-x0x1x1x.png') top left repeat-y; }
.light .lines_x1x0x1x .inner	{ background: url('../images/light_ln-x1x0x1x.png') top left repeat-y; }
.light .lines_x1x1x0x .inner	{ background: url('../images/light_ln-x1x1x0x.png') top left repeat-y; }
.light .lines_x0x1x0x .inner	{ background: url('../images/light_ln-x0x1x0x.png') top left repeat-y; }
.light .lines_x1x0x0x .inner	{ background: url('../images/light_ln-x1x0x0x.png') top left repeat-y; }
.light .lines_x0x0x1x .inner	{ background: url('../images/light_ln-x0x0x1x.png') top left repeat-y; }

.dark .lines_x1x .inner		{ background: url('../images/dark_ln-x0x1x0x.png') top left repeat-y; }
.dark .lines_x1x1x .inner	{ background: url('../images/dark_ln-x1x1x.png') top left repeat-y; }
.dark .lines_x1x0x .inner	{ background: url('../images/dark_ln-x1x0x.png') top left repeat-y; }
.dark .lines_x0x1x .inner	{ background: url('../images/dark_ln-x0x1x.png') top left repeat-y; }
.dark .lines_x1x1x1x .inner	{ background: url('../images/dark_ln-x1x1x1x.png') top left repeat-y; }
.dark .lines_x0x1x1x .inner	{ background: url('../images/dark_ln-x0x1x1x.png') top left repeat-y; }
.dark .lines_x1x0x1x .inner	{ background: url('../images/dark_ln-x1x0x1x.png') top left repeat-y; }
.dark .lines_x1x1x0x .inner	{ background: url('../images/dark_ln-x1x1x0x.png') top left repeat-y; }
.dark .lines_x0x1x0x .inner	{ background: url('../images/dark_ln-x0x1x0x.png') top left repeat-y; }
.dark .lines_x1x0x0x .inner	{ background: url('../images/dark_ln-x1x0x0x.png') top left repeat-y; }
.dark .lines_x0x0x1x .inner	{ background: url('../images/dark_ln-x0x0x1x.png') top left repeat-y; }

/* --- USER BOXES layout ----------------------------------------------------------- */

.box			{ float: left; padding: 0px 20px 1000px 20px; margin-bottom: -1000px; }
.box.white, .box.black	{ padding-left: 30px; padding-right: 30px; }
.box .box_top		{ height: 9px; position: absolute; top: 0px; left: auto; margin-left: -20px; }
.box .box_down		{ height: 9px; position: absolute; bottom: 0px; left: auto; margin-left: -20px; }
.box img.thumb		{ display: block; padding: 2px 2px 3px 2px; background: url('../images/light_picture.png') bottom left repeat-x;}

.box_1-1				{ width: 920px; }
.box_1-1.white, .box_1-1.black		{ width: 900px; }
.box_1-1 .box_top, .box_1-1 .box_down	{ width: 940px; }
.box_2-1				{ width: 440px; }
.box_2-1.white, .box_2-1.black		{ width: 420px; }
.box_2-1 .box_top, .box_2-1 .box_down	{ width: 460px; }
.box_3-1				{ width: 280px; }
.box_3-1.white, .box_3-1.black		{ width: 260px; }
.box_3-1 .box_top, .box_3-1 .box_down	{ width: 300px; }
.box_3-2				{ width: 600px; }
.box_3-2.white, .box_3-2.black		{ width: 580px; }
.box_3-2 .box_top, .box_3-2 .box_down	{ width: 620px; }
.box_4-1				{ width: 200px; }
.box_4-1.white, .box_4-1.black		{ width: 180px; }
.box_4-1 .box_top, .box_4-1 .box_down	{ width: 220px; }
.box_4-2				{ width: 440px; }
.box_4-2.white, .box_4-2.black		{ width: 420px; }
.box_4-2 .box_top, .box_4-2 .box_down	{ width: 460px; }
.box_4-3				{ width: 680px; }
.box_4-3.white, .box_4-3.black		{ width: 660px; }
.box_4-3 .box_top, .box_4-3 .box_down	{ width: 700px; }

.box_1-1.white			{ background: url('../images/white_box-full_middle.png') top center repeat-y; }
.box_1-1.white .box_top		{ background: url('../images/white_box-full_top.png') top center repeat-y; }
.box_1-1.white .box_down	{ background: url('../images/white_box-full_down.png') top center repeat-y; }
.box_2-1.white			{ background: url('../images/box_4-2-mid_white.png') top center repeat-y; }
.box_2-1.white .box_top		{ background: url('../images/box_4-2-top_white.png') top center repeat-y; }
.box_2-1.white .box_down	{ background: url('../images/box_4-2-down_white.png') top center repeat-y; }
.box_3-1.white			{ background: url('../images/box_3-1-mid_white.png') top center repeat-y; }
.box_3-1.white .box_top		{ background: url('../images/box_3-1-top_white.png') top center repeat-y; }
.box_3-1.white .box_down	{ background: url('../images/box_3-1-down_white.png') top center repeat-y; }
.box_3-2.white			{ background: url('../images/box_3-2-mid_white.png') top center repeat-y; }
.box_3-2.white .box_top		{ background: url('../images/box_3-2-top_white.png') top center repeat-y; }
.box_3-2.white .box_down	{ background: url('../images/box_3-2-down_white.png') top center repeat-y; }
.box_4-1.white			{ background: url('../images/box_4-1-mid_white.png') top center repeat-y; }
.box_4-1.white .box_top		{ background: url('../images/box_4-1-top_white.png') top center repeat-y; }
.box_4-1.white .box_down	{ background: url('../images/box_4-1-down_white.png') top center repeat-y; }
.box_4-2.white			{ background: url('../images/box_4-2-mid_white.png') top center repeat-y; }
.box_4-2.white .box_top		{ background: url('../images/box_4-2-top_white.png') top center repeat-y; }
.box_4-2.white .box_down	{ background: url('../images/box_4-2-down_white.png') top center repeat-y; }
.box_4-3.white			{ background: url('../images/box_4-3-mid_white.png') top center repeat-y; }
.box_4-3.white .box_top		{ background: url('../images/box_4-3-top_white.png') top center repeat-y; }
.box_4-3.white .box_down	{ background: url('../images/box_4-3-down_white.png') top center repeat-y; }

.box_1-1.black			{ background: url('../images/black_box-full_middle.png') top center repeat-y; }
.box_1-1.black .box_top		{ background: url('../images/black_box-full_top.png') top center repeat-y; }
.box_1-1.black .box_down	{ background: url('../images/black_box-full_down.png') top center repeat-y; }
.box_2-1.black			{ background: url('../images/box_4-2-mid_black.png') top center repeat-y; }
.box_2-1.black .box_top		{ background: url('../images/box_4-2-top_black.png') top center repeat-y; }
.box_2-1.black .box_down	{ background: url('../images/box_4-2-down_black.png') top center repeat-y; }
.box_3-1.black			{ background: url('../images/box_3-1-mid_black.png') top center repeat-y; }
.box_3-1.black .box_top		{ background: url('../images/box_3-1-top_black.png') top center repeat-y; }
.box_3-1.black .box_down	{ background: url('../images/box_3-1-down_black.png') top center repeat-y; }
.box_3-2.black			{ background: url('../images/box_3-2-mid_black.png') top center repeat-y; }
.box_3-2.black .box_top		{ background: url('../images/box_3-2-top_black.png') top center repeat-y; }
.box_3-2.black .box_down	{ background: url('../images/box_3-2-down_black.png') top center repeat-y; }
.box_4-1.black			{ background: url('../images/box_4-1-mid_black.png') top center repeat-y; }
.box_4-1.black .box_top		{ background: url('../images/box_4-1-top_black.png') top center repeat-y; }
.box_4-1.black .box_down	{ background: url('../images/box_4-1-down_black.png') top center repeat-y; }
.box_4-2.black			{ background: url('../images/box_4-2-mid_black.png') top center repeat-y; }
.box_4-2.black .box_top		{ background: url('../images/box_4-2-top_black.png') top center repeat-y; }
.box_4-2.black .box_down	{ background: url('../images/box_4-2-down_black.png') top center repeat-y; }
.box_4-3.black			{ background: url('../images/box_4-3-mid_black.png') top center repeat-y; }
.box_4-3.black .box_top		{ background: url('../images/box_4-3-top_black.png') top center repeat-y; }
.box_4-3.black .box_down	{ background: url('../images/box_4-3-down_black.png') top center repeat-y; }

.divider		{clear: both; width: 100%; height: 25px;}

.box_custombck		{ }
.box_custombck_inner	{ width: 100%; margin-left: -10px; margin-right: -10px; padding: 0px 10px 0px 10px; background: url('../images/box_custombck.png') top left repeat-x; }
.box_custombck2_inner	{ width: 100%; margin-left: -10px; margin-right: -10px; padding: 0px 10px 0px 10px; background: url('../images/bck_95-25.png'); }

.box_customfull		{ }
.box_customfull_inner	{ margin-left: -10px; margin-right: -10px; padding: 0px; }
.box_customfull .full	{ display: block; }

.box_custom_descr	{ padding: 4px 0px 5px 0px;}


/*********************************/
/* ---------- SIDEBAR ---------- */
/*********************************/

#sidebar			{ width: 280px; float: right; margin-right: -10px; }

.sidebox			{ width: 240px; padding: 0px 20px 0px 20px; margin-bottom: 24px; position: relative; }
.sidebox .box_top		{ width: 280px; height: 9px; position: absolute; top: -9px; left: auto; margin-left: -20px; }
.sidebox .box_down		{ width: 280px; height: 9px; position: absolute; bottom: -9px; left: auto; margin-left: -20px; }
.sidebox img.thumb		{ display: block; padding: 2px 2px 3px 2px; background: url('../images/light_picture.png') bottom left repeat-x;}
.sideinner			{ padding: 6px 0px 6px 0px; } 


.light .sidebox			{ background: url('../images/light_sidebar_mid.png') top center repeat-y; }
.light .sidebox .box_top	{ background: url('../images/light_sidebar_top.png') top center repeat-y; }
.light .sidebox .box_down	{ background: url('../images/light_sidebar_down.png') top center repeat-y; }
.dark .sidebox			{ background: url('../images/dark_sidebar_mid.png') top center repeat-y; }
.dark .sidebox .box_top		{ background: url('../images/dark_sidebar_top.png') top center repeat-y; }
.dark .sidebox .box_down	{ background: url('../images/dark_sidebar_down.png') top center repeat-y; }
.white.sidebox			{ background: url('../images/white_sidebar_mid.png') top center repeat-y; }
.white.sidebox .box_top		{ background: url('../images/white_sidebar_top.png') top center repeat-y; }
.white.sidebox .box_down	{ background: url('../images/white_sidebar_down.png') top center repeat-y; }
.black.sidebox			{ background: url('../images/black_sidebar_mid.png') top center repeat-y; }
.black.sidebox .box_top		{ background: url('../images/black_sidebar_top.png') top center repeat-y; }
.black.sidebox .box_down	{ background: url('../images/black_sidebar_down.png') top center repeat-y; }

.sidebox h2			{ padding-top: 0px; padding-bottom: 9px; }
.sidebox p			{ padding-top: 0px; padding-bottom: 9px; }

.sidesearch			{}
.sidesearch form		{ width: 100%; }
.sidesearch .text		{ width: 139px; height: 24px; float: left; background: url(../images/search_input.png); }
.sidesearch .text input		{ background: none; border: none; width: 129px; line-height: 14px; font-family: arial; font-size: 12px; padding: 5px 0px 0px 0px; margin-left: 5px; }
.sidesearch .submit		{ width: 34px; height: 24px; float: left; background: url(../images/search_button.png); }
.sidesearch .submit input	{ background: none; border: none; display: block; width: 34px; height: 24px; font-family: arial; font-size: 0%; line-height: 0%; cursor: pointer; text-indent: -9999px; }
.sidesearch .advanced		{ width: 67px; height: 24px; float: left; line-height: 12px; font-size: 11px; }
.sidesearch .advanced a		{ text-decoration: none; padding-left: 10px; display: block; }
.sidesearch .advanced a:hover	{ text-decoration: underline; }

.sidebox .rule			{ width: 100%; height: 2px; font-size: 0%; line-height: 0px; }
.light .sidebox .rule		{ background: url('../images/light_sideline.png') top left repeat-x; }
.dark .sidebox .rule		{ background: url('../images/dark_sideline.png') top left repeat-x; }
.white.sidebox .rule		{ background: url('../images/light_sideline.png') top left repeat-x; }
.black.sidebox .rule		{ background: url('../images/dark_sideline.png') top left repeat-x; }


ul.list			{ padding-top: 2px; padding-bottom: 0px; }
ul.list li		{ line-height: 16px; padding-top: 5px; padding-bottom: 7px; width: 100%; }
ul.list a		{ }
ul.list ul		{ padding-top: 4px; padding-left: 10px; padding-bottom: 2px; background: none !important; }
ul.list ul li		{ line-height: 16px; padding-top: 2px; padding-bottom: 2px; background: none !important; }

.light ul.list		{ background: url('../images/light_sideline.png') top left repeat-x; }
.light ul.list li	{ background: url('../images/light_sideline.png') bottom left repeat-x; }
.light ul.list a:hover	{ color: #76828A; }

.dark ul.list		{ background: url('../images/dark_sideline.png') top left repeat-x; }
.dark ul.list li	{ background: url('../images/dark_sideline.png') bottom left repeat-x; }
.dark ul.listl a:hover	{ color: #B9D2DD; }

.white ul.list		{ background: url('../images/light_sideline.png') top left repeat-x; }
.white ul.list li	{ background: url('../images/light_sideline.png') bottom left repeat-x; }
.white ul.list a:hover	{ color: #76828A; }

.black ul.list		{ background: url('../images/dark_sideline.png') top left repeat-x; }
.black ul.list li	{ background: url('../images/dark_sideline.png') bottom left repeat-x; }
.black ul.list a:hover	{ color: #B9D2DD; }



/********************************/
/* ---------- SLIDER ---------- */
/********************************/

.slider 			{ padding-bottom: 10px; }
.slider .middle			{ text-align: center; }
.slider .nav .middle		{ min-height: 26px; }
.slider .wrap			{ width: 922px;	margin: 0px auto; text-align: left; position: relative; }
.slider .slides			{ height: 100px; position: relative; width: 100px; }
.slider .slides a		{ display: block; }
.slider .slides img 	{ display: block; }
.slider .slide			{ display: block;}
.slider .picture		{ background: url('../images/slider_shadow1.png') bottom center no-repeat; padding-bottom: 9px; }
.slider .nav			{ background: url('../images/slider_shadow2.png') bottom center no-repeat; padding-bottom: 9px; }

.slider .description			{ display: none; position: absolute; top: 13px; right: 13px; z-index: 500; }
.img-description .description		{ display: block; }

.slider .description .topleft,	
.slider .description .topright,	
.slider .description .downleft,	
.slider .description .downright		{ width: 5px; height: 5px; }
.slider .description .text			{ text-align: left; padding: 6px 20px 10px 10px; }
.slider .description .text.right	{ text-align: right; padding: 6px 10px 10px 20px; }
.slider .description .text .title	{ font-size: 24px; padding-bottom: 2px; }
.slider .description .text p		{ }

.slider .description.dark td			{ background: url('../images/dark_desc.png') top left; }
.slider .description.dark td.topleft		{ background: url('../images/dark_desc-corner_tl.png') top left no-repeat; }
.slider .description.dark td.topright		{ background: url('../images/dark_desc-corner_tr.png') top left no-repeat; }
.slider .description.dark td.downleft		{ background: url('../images/dark_desc-corner_dl.png') top left no-repeat; }
.slider .description.dark td.downright		{ background: url('../images/dark_desc-corner_dr.png') top left no-repeat; }
.slider .description.dark td.text .title	{ color: #B9D2DD; }
.slider .description.dark td.text p		{ color: #FFFFFF; }

.slider .description.light td			{ background: url('../images/light_desc.png') top left; }
.slider .description.light td.topleft		{ background: url('../images/light_desc-corner_tl.png') top left no-repeat; }
.slider .description.light td.topright		{ background: url('../images/light_desc-corner_tr.png') top left no-repeat; }
.slider .description.light td.downleft		{ background: url('../images/light_desc-corner_dl.png') top left no-repeat; }
.slider .description.light td.downright		{ background: url('../images/light_desc-corner_dr.png') top left no-repeat; }
.slider .description.light td.text .title	{ color: #76828A; }
.slider .description.light td.text p		{ color: #333333; }

.slider .nav p				{ float: left; line-height: 24px; }
.slider .nav p strong			{ font-size: 16px; }

.slider .nav.white p			{ color: #666666; }
.slider .nav.white p a			{ color: #666666; text-decoration: none; }
.slider .nav.white p strong		{ color: #333333; }
.slider .nav.black p			{ color: #A0A0A0; }
.slider .nav.black p a			{ color: #A0A0A0; text-decoration: none; }
.slider .nav.black p strong		{ color: #FFFFFF; }

.slider ul.nav_dotts			{ display: block; float: left; padding: 6px 20px 5px 15px; }
.slider ul.nav_dotts li			{ display: inline; }
.slider ul.nav_dotts li a		{ display: block; width: 13px; height: 13px; float: left; margin-right: 7px; }
.slider ul.nav_dotts li a span		{ font-size: 0%; visibility: hidden; display: block; text-indent: -9999px; }

.slider .white ul.nav_dotts li a		{ background: url('../images/white_nav.png') top left no-repeat #D9D9D9; }
.slider .white ul.nav_dotts li a:hover		{ background-color: #BBBBBB; }
.slider .white ul.nav_dotts li a.active		{ background-color: #76828A; }

.slider .black ul.nav_dotts li a		{ background: url('../images/black_nav.png') top left no-repeat #5C5C5C; }
.slider .black ul.nav_dotts li a:hover		{ background-color: #A0A0A0; }
.slider .black ul.nav_dotts li a.active		{ background-color: #B9D2DD; }

.slider ul.nav_arrows			{ display: block; float: right; padding: 4px 9px 3px 20px; }
.slider ul.nav_arrows li		{ display: inline; }
.slider ul.nav_arrows li a		{ display: block; width: 15px; height: 17px; float: left; margin-right: 8px; }
.slider ul.nav_arrows li a span		{ font-size: 0%; visibility: hidden; display: block; text-indent: -9999px;}
.slider .white ul.nav_arrows li.left a		{ background: url('../images/white_nav_left.png') top left no-repeat #BAC0C4; }
.slider .white ul.nav_arrows li.right a		{ background: url('../images/white_nav_right.png') top left no-repeat #BAC0C4; }
.slider .white ul.nav_arrows li a:hover		{ background-color: #76828A; }
.slider .black ul.nav_arrows li.left a		{ background: url('../images/black_nav_left.png') top left no-repeat #768388; }
.slider .black ul.nav_arrows li.right a		{ background: url('../images/black_nav_right.png') top left no-repeat #768388; }
.slider .black ul.nav_arrows li a:hover		{ background-color: #B9D2DD; }


.slider .nivo-controlNav   			{ bottom: -284px; display: block; float: left; padding: 6px 13px 5px 15px; position: relative; z-index: 9999; }
.slider .nivo-controlNav a 			{ display: block; width: 13px; height: 13px; float: left; margin-top: 8px; margin-right: 7px; visibility: visible; }
.slider .nivo-controlNav a 			{ font-size: 0%; display: block; text-indent: -9999px; }
.slider .white .nivo-controlNav a		{ background: url('../images/white_nav.png') top left no-repeat #D9D9D9; }
.slider .white .nivo-controlNav a:hover		{ background-color: #BBBBBB; }
.slider .white .nivo-controlNav a.active	{ background-color: #76828A; }
.slider .black .nivo-controlNav a			{ background: url('../images/black_nav.png') top left no-repeat #5C5C5C; }
.slider .black .nivo-controlNav a:hover		{ background-color: #A0A0A0; }
.slider .black .nivo-controlNav a.active	{ background-color: #B9D2DD; }

.slider .nivo-caption					{ background: transparent; bottom: -287px; float: left; line-height: 24px; position: relative; height: 35px; width: 650px; }
.slider .nivo-caption strong			{ font-size: 16px; }
.slider .white .nivo-caption p			{ color: #666666; }
.slider .white .nivo-caption p a		{ color: #666666; text-decoration: none; }
.slider .white .nivo-caption p strong	{ background: #fff; color: #333333; }
.slider .black .nivo-caption p			{ color: #A0A0A0; }
.slider .black .nivo-caption p a		{ color: #A0A0A0; text-decoration: none; }
.slider .black .nivo-caption p strong	{ color: #FFFFFF; }

.slider .nivo-directionNav 				{ bottom: -32px; display: block; position: absolute; right: 9px; width: 46px; z-index: 9999; }
.slider .nivo-directionNav a				{ display: block; font-size: 0px; width: 15px; height: 17px; margin-right: 8px; position: absolute; text-indent: -9999px; }
.slider .white .nivo-directionNav a:hover			{ background-color: #76828A; }
.slider .white .nivo-directionNav .nivo-prevNav 	{ background: url('../images/white_nav_left.png') top left no-repeat #BAC0C4; left: 0px; }
.slider .white .nivo-directionNav .nivo-nextNav 	{ background: url('../images/white_nav_right.png') top left no-repeat #BAC0C4; right: 0px; }
.slider .black .nivo-directionNav a:hover			{ background-color: #B9D2DD; }
.slider .black .nivo-directionNav .nivo-prevNav		{ background: url('../images/black_nav_left.png') top left no-repeat #768388; }
.slider .black .nivo-directionNav .nivo-nextNav		{ background: url('../images/black_nav_right.png') top left no-repeat #768388; }

/*******************************/
/* ---------- POSTS ---------- */
/*******************************/

.home_post				{ padding-bottom: 14px; }
.home_post p				{ padding-bottom: 0px !important; }
.home_post .post_thumb			{ width: 150px; height: 104px; display: block; float: right; margin-left: 15px; margin-top: 8px; position: relative;}
.home_post .post_thumb .post_thumb_top	{ width: 150px; height: 4px; position: absolute; top: 0px; left: 0px; }
.home_post .post_thumb .post_thumb_down	{ width: 150px; height: 4px; position: absolute; bottom: 0px; left: 0px; }
.home_post .post_thumb img		{ width: 150px; height: 104px; display: block; padding: 0px;}
.white .post_thumb_top			{ background: url('../images/white_thumb150_top.png') top left no-repeat;}
.white .post_thumb_down			{ background: url('../images/white_thumb150_down.png') top left no-repeat;}
.black .post_thumb_top			{ background: url('../images/black_thumb150_top.png') top left no-repeat;}
.black .post_thumb_down			{ background: url('../images/black_thumb150_down.png') top left no-repeat;}
.post_links				{ width: 100%; font-size: 11px; background: url('../images/h_dots_a0.gif') top left repeat-x; padding: 10px 0px 5px 0px; clear: both; }
.post_links a				{ text-decoration: none;}
.post_links a:hover			{ text-decoration: underline;}
.post_links .more			{ display: block; float: right;}

.sidepost			{ padding: 6px 0px 15px 0px; }
.sidepost p				{ font-size: 11px; line-height: 14px; }
.sidepost .post_thumb img		{ background: url('../images/light_picture.png') bottom left repeat-x;  width: 236px; height: 70px; display: block; padding: 2px 2px 3px 2px; margin-bottom: 10px; }
.sidepost .post_links		{ padding: 4px 0px 3px 0px; background: none; }

.blog_multi			{ padding-bottom: 20px; }
.blog_multi .rule		{ padding-bottom: 0px !important; }
.post-header			{ }
.post-header h2			{ width: 59%; float: left; padding-bottom: 10px !important; }
.post-header small		{ width: 39%; float: right; text-align: right; padding-bottom: 10px; padding-top: 16px; }
.post-image			{ clear: both; padding-bottom: 10px; }
.post-text			{ clear: both; }
.post-text p			{ padding-bottom: 15px !important; }
.more-link-wrap			{ float: right; padding: 0px !important; font-size: 11px; margin-top: 3px; }
.more-link-wrap a		{ }
.post-info			{ padding: 5px 0px 6px 0px; }
.post-info a			{ text-decoration: none !important; } 
.post-info a:hover		{ text-decoration: underline !important; } 
.light .post-info a 		{ color: #76828A !important;}
.dark .post-info a 		{ color: #B9D2DD !important;}
.post-info a.post-edit-link	{ color: #FF0000 !important; font-weight: bold; }

/***************************************/
/* ---------- CONTENT LINKS ---------- */
/***************************************/

#content_links				{ width: 920px; margin-right: -20px;}
#content_links .cols			{ width: 100%; padding: 9px 0px 15px 0px; }
#content_links .col-widget		{ width: 210px; padding-right: 20px; float: left; }
#content_links h2			{ padding: 0px 0px 9px 0px; font-size: 12px; text-transform: uppercase; font-weight: bold;}
#content_links li			{ line-height: 16px; padding: 4px 0px 4px 0px; }
#content_links li a			{ text-decoration: none; display: block; background: url('../images/arrow_darkgrey.gif') 0px 6px no-repeat; padding-left: 10px; }
#content_links li a:hover		{ text-decoration: none; }
#content_links p			{ padding-top: 0px; }


/*********************************/
/* ---------- GALLERY ---------- */
/*********************************/

.sidebox .gallery 		{ margin-right: -20px; }
.sidebox .gallery_inner		{ width: 100%; }
.sidebox .gallery a		{ }
.sidebox .gallery img		{ display: block; float: left;  width: 68px; height: 68px; margin-right: 12px; margin-bottom: 12px; padding: 2px 2px 3px 2px; background: url('../images/light_picture.png') bottom left repeat-x; }

#main .gallery 			{ margin-right: -20px; padding-bottom: 20px; }
#main .gallery_inner		{ width: 100%; }
#main .gallery a		{ }
#main .gallery img		{ display: block; float: left;  width: 89px; height: 89px; margin-right: 10px; margin-bottom: 10px; padding: 3px 3px 4px 3px; background: url('../images/light_picture.png') bottom left repeat-x; }
 

/***********************************/
/* ---------- PORTFOLIO ---------- */
/***********************************/

.portfolio-website		{ width: 100%;}
.website-thumbnail		{ width: 206px; float: left; margin-right: 20px; }
.website-name			{ font-size: 18px; font-weight: normal; padding-top: 0px; padding-bottom: 3px; }
.light .website-name 		{ color: #76828A !important;}
.light .website-name a 		{ color: #76828A !important; text-decoration: none !important; }
.light .website-name a:hover 	{ color: #5A646A !important; text-decoration: none !important; }
.dark .website-name 		{ color: #B9D2DD !important;}
.dark .website-name a 		{ color: #B9D2DD !important; text-decoration: none !important; }
.dark .website-name a:hover 	{ color: #D4E9F2 !important; text-decoration: none !important; }
.website-url			{ padding-bottom: 10px; }
.website-description		{ line-height: 18px; text-align: justify; }
.website-clear			{ clear: both; width: 100%; height: 20px; }


/**************************************/
/* ---------- CONTACT PAGE ---------- */
/**************************************/

#contact form		{ padding-bottom: 5px; }
#contact form .rule	{ margin-top: 15px; padding: 0px !important; }
#contact .clear		{ padding-bottom: 5px; }
#contact label		{ display: block; width: 150px; line-height: 24px; float: left; cursor: pointer; }
#contact label.right	{ width: auto; }
#contact label.empty	{ cursor: auto; }
#contact label.required	{ background: url('../images/arrow_red.gif') 137px 7px no-repeat; }
#contact input		{ color: #333333; }
#contact .input		{ display: block; width: 250px; height: 18px; float: left; border: 1px solid #A0A0A0; font-family: arial; font-size: 12px; padding: 2px; }
#contact .checkbox	{ display: block; float: left; position: relative; top: 2px; left: -4px; }
#contact textarea	{ color: #333333;  display: block; width: 350px; height: 100px; float: left; border: 1px solid #A0A0A0; font-family: arial; font-size: 12px; padding: 2px; margin: 0px;}
#contact select		{ color: #333333;  display: block; width: auto; height: auto; float: left; border: 1px solid #A0A0A0; font-family: arial; font-size: 12px; padding: 2px; }
#contact .confirm	{ padding-top: 10px; padding-left: 150px; }
#contact .submit	{ display: block; float: left; border: 1px solid #A0A0A0; font-family: arial; font-size: 11px; font-weight: bold; padding: 2px 10px 2px 10px; background: url('../images/bck_95-25.png'); cursor: pointer; }
.light #contact .submit	{ color: #333333; }
.dark #contact .submit	{ color: #FFFFFF; }
#contact .terms		{ float: right; padding-top: 2px; }

.sidecontact img.mailicon	{ display: block; float: right; background: url('../images/envelope.png') top right no-repeat; cursor: pointer; }
.sidecontact ul			{ font-size: 11px; line-height: 14px; margin-bottom: 9px; }
.sideservice ul			{ font-size: 11px; line-height: 14px; margin-bottom: 9px; }
.sideservice .icon		{ display: block; }

/********************************/
/* ---------- FOOTER ---------- */
/********************************/

#footer 		{ color: #a0a0a0; font-size: 11px; padding: 10px 26px 40px 26px;}
#footer a 		{ color: #FFFFFF; text-decoration: none; }
#footer a:hover		{ color: #FFFFFF; text-decoration: underline; }
#footer .copy		{ color: #B9D2DD; float: left; }
#footer .copy a		{ font-weight: bold; }
#footer .links		{ color: #A0A0A0; float: right; }
#footer .links li 	{ display: block; float: left; }
#footer .links .sep	{ padding: 0px 7px; }


